@font-face {
  font-family: 'Forum';
  src: url('/fonts/Forum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**
 * Global typography utilities
 */

@utility font-heading {
  font: var(--font-title-1);
}

@utility font-sub-heading {
  font: var(--font-title-2);
}

@utility font-title {
  font: var(--font-title-3);
}

@utility font-body {
  font: var(--font-body-1);
}

@utility font-button {
  font: var(--font-button-1);
}
